/* Basic resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}



/* Welcome Section */
.welcome-section {
    text-align: center;
    padding: 3rem;
    background-color: #80AF81;
    border-radius: 0.3rem;
    color: #fff;
}

    .welcome-section .btn-shop-now {
        background-color: #1A5319;
        color: #fff;
        padding: 0.7rem 1.5rem;
        margin-top: 1rem;
        display: inline-block;
        border-radius: 0.3rem;
        text-decoration: none;
    }

/* Categories Section */
.categories-section {
    padding: 2rem;
    text-align: center;
    border-radius: 0.3rem;
    background-color: #80AF81;
}

    .categories-section .categories-container {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .categories-section .category-card {
        background-color: #fff;
        padding: 1rem;
        border-radius: 0.3rem;
        width: 150px; /* Adjusted to make card wider */
        text-align: center;
    }

        /* Style for images inside the category card */
        .categories-section .category-card img {
            width: 100px; 
            height: auto; 
            border-radius: 0.3rem;
        }
        .categories-section .category-card h4 {
            margin-top: 0.5rem; /* Adjust the spacing as desired */
        }


/* Featured Products Section */
.featured-section {
    padding: 2rem;
    text-align: center;
}

    .featured-section .featured-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .featured-section .product-card {
        background-color: #D6EFD8;
        padding: 1rem;
        border-radius: 0.3rem;
        width: 200px;
        text-align: center;
    }

    .featured-section .btn-add-to-cart {
        background-color: #1A5319;
        color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 0.3rem;
        text-decoration: none;
        display: inline-block;
        margin-top: 0.5rem;
    }

    .featured-section .product-card img {
        width: 100px;
        height: auto;
        border-radius: 0.3rem;
      
    }
   

    .featured-section .product-card h4 {
        margin-top: 0.8rem; 
    }


/* Footer */
.footer {
    background-color: #80AF81;
    color: #000;
    padding: 1rem;
    text-align: center;
}

    .footer .footer-links {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding-top: 0.5rem;
    }

        .footer .footer-links a {
            color: #000;
            text-decoration: none;
        }
